section{
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
position: relative;
min-width: 750px;


}


.fondo {
background-image: url(./img/images.jpg);
height: 500px;
width: 750px;
background-repeat: no-repeat;
background-size: cover;
display: relative;
}

.zombie1{

height: 110px;
width: 100px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 25%;
top: 12%;
}

.zombie2{

height: 130px;
width: 120px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 30%;
top: 45%;
}

.zombie3{

height: 115px;
width: 120px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 25%;
top: 35%;
}

.nuez{

height: 80px;
width: 80px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 48%;
top: 17%;

}
.guisante{
height: 80px;
width: 95px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 57%;
top: 41%;

}

.hielo1{
height: 155px;
width: 180px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 53%;
top: 43%;


}



