section{
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
position: relative;
min-width: 750px;


}


.fondo {
background-image: url(./img/images.jpg);
height: 500px;
width: 750px;
background-repeat: no-repeat;
background-size: cover;
display: relative;
}

.zombie1{

height: 110px;
width: 100px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 25%;
top: 12%;

}

.zombie2{

height: 130px;
width: 120px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 30%;
top: 45%;
animation: alternate-reverse moverZombie3 12s linear infinite;
}

.zombie3{

height: 115px;
width: 120px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 25%;
top: 35%;
animation: alternate-reverse moverZombie3 9s linear infinite;
}

.nuez{

height: 80px;
width: 80px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 48%;
top: 17%;

}
.guisante{
height: 80px;
width: 95px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 57%;
top: 41%;

}

.girasol{
height: 90px;
width: 90px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 57%;
top: 51%;
}

/* aminacion */

/* planta4 */ 

.bloque{
animation: alternate-reverse moverZombie3 3s infinite;

}

@keyframes moverZombie3{
0%{right: 23%}
100%{right:50%}

}

.bloque{
animation: alternate-reverse moverZombie3 3s infinite;

}

@keyframes moverZombie3{
0%{right: 23%}
100%{right:40%}

}

.score2{
height: 40px;
width: 100px;
background-color: tomato;
border-radius: 20px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
border: 4px solid white;
color: white;

}

.saltar{
animation: saltar 0.5s ease forwards;

}

@keyframes saltar{
0%{transform: translateY(0); opacity: 1;}
30%{transform: translateY(-60px);}
100%{transform: translateY(0); opacity: 0;}

}

.bloque{

animation: moverbloque 4s linear infinite alternate;
}

@keyframes moverbloque{
0%{left: 55%;}
100%{left: 89%;}


}

.section2{
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
position: relative;
min-width: 750px;

}
.fondo2{
    background-image: url(./img/fondopacman.jpg);
height: 500px;
width: 750px;
background-repeat: no-repeat;
background-size: cover;
display: relative;

}

.pacman1{
height: 30px;
width: 30px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 46%;
top: 14.5%;
animation: alternate-reverse moverZombie3 7s linear infinite;

}

.pacman2{
height: 30px;
width: 30px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 46%;
top: 61%;
animation: alternate-reverse moverZombie3 4s linear infinite;
}

.fantasma1{
height: 30px;
width: 30px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 49%;
top: 68%;

}
.fantasma2{
height: 30px;
width: 30px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 57%;
top: 45.5%;

}

.fantasma3{
    height: 30px;
width: 30px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 25%;
top: 45.5%;
}

.fantasma4{
    height: 30px;
width: 30px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 57%;
top: 60%;
}

.score3{
height: 40px;
width: 100px;
background-color: tomato;
border-radius: 20px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
border: 4px solid white;
color: white;

}

.section3{
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
position: relative;
min-width: 750px;
}

.juego3{

background-image: url(./img/fondoangrid.webp);
height: 500px;
width: 750px;
background-repeat: no-repeat;
background-size: cover;
display: relative;
}

.angry1{
height: 60px;
width:60px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 25%;
top: 58%;
animation: alternate-reverse moverZombie3 5s linear infinite;

}

.angry2{
height: 60px;
width:60px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 65%;
top: 30%;
animation: alternate-reverse moverZombie3 9s linear infinite;
}

.angry3{
    height: 100px;
width:90px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 70%;
top: 53%;
}

.cerdo1{
    height: 90px;
width: 90px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 49%;
top: 13%;
}

.pajaro1{
    height: 90px;
width: 90px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 69%;
top: 20%;   
}

.pajaro2{
    height: 90px;
width: 90px;
background-size:contain;
background-repeat: no-repeat;
position: absolute;
right: 30%;
top: 40%;   
}






.score4{
    height: 40px;
width: 100px;
background-color: tomato;
border-radius: 20px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
border: 4px solid white;
color: white;
}


